{% extends "components/Layout/base_pages.html" %}
{% load static %}
{% load tailwind_filters %}
{% load allauth i18n %}
{% load widget_tweaks %}

{% block head_title %}
Configuración
{% endblock head_title %}

{% block content_pages %}
<h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Configuración</h1>

<div>
    <div class="border-b rounded-lg border-gray-200">
        <nav class="-mb-px flex space-x-8" aria-label="Tabs">
            <button type="button" data-tab-target="perfil" data-tab-group="profile-settings"
                class="border-b-2 border-indigo-500 py-2 px-1 text-sm font-medium text-indigo-600"
                aria-selected="true">
                Perfil de Usuario
            </button>
            <button type="button" data-tab-target="seguridad" data-tab-group="profile-settings"
                class="border-b-2 border-indigo-500 py-2 px-1 text-sm font-medium text-indigo-600"
                aria-selected="true">
                Seguridad
            </button>
            <a href="{% url 'mfa_index' %}" type="button" data-tab-target="seguridad" data-tab-group="profile-settings"
                class="border-b-2 border-transparent py-2 px-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                aria-selected="false">
                Autentificación
            </a>
        </nav>
    </div>

    <div id="perfil" class="tab-content mt-6">
        <h2 class="h1-title-forms">Información personal</h2>
        <section class="p-6 rounded mt-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex gap-6 flex-1">
                    <div>
                        {% include 'components/input_perfil.html' with img=request.user.profile.image.url %}
                    </div>
                </div>
                <div class="flex gap-6 w-1">
                    <div class="flex-1">
                        <div>
                            <label for="{{ user_form.first_name.id_for_label }}"
                                class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                            {{ user_form.first_name|add_class:"py-3 px-4 text-base w-full" }}
                        </div>
                        <div class="mt-4">
                            <label for="{{ user_form.username.id_for_label }}"
                                class="block text-gray-700 text-sm font-bold mb-2">Nombre de Usuario</label>
                            {{ user_form.username|add_class:"py-3 px-4 text-base w-full" }}
                        </div>
                        <div class="mt-4">
                            <label for="{{ user_form.email.id_for_label }}"
                                class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                            {{ user_form.email|add_class:"py-3 px-4 text-base w-full"}}
                        </div>
                        <div>
                            <label for="{{ profile_form.examen_medico.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 mt-6">Examen Médico</label>
                            {{ profile_form.examen_medico|add_class:"py-3 px-4 text-base w-full" }}
                            {% if request.user.profile.examen_medico %}
                            <a href="{{ request.user.profile.examen_medico.url }}" class="text-indigo-600 text-sm" download>Descargar examen médico</a>
                            {% endif %}
                        </div>
                        <div class="mt-6">
                            <label for="{{ profile_form.contrato.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Contrato</label>
                            {{ profile_form.contrato|add_class:"py-3 px-4 text-base w-full" }}
                            {% if request.user.profile.contrato %}
                            <a href="{{ request.user.profile.contrato.url }}" class="text-indigo-600 text-sm" download>Descargar contrato</a>
                            {% endif %}
                        </div>
                        <div class="mt-6">
                            <label for="{{ profile_form.is_partime.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Tipo de jornada</label>
                            {{ profile_form.is_partime|add_class:"py-3 px-4 text-base w-full" }}
                        </div>
                        <div class="mt-6">
                            <button type="submit"
                                class="bg-gradient-to-br hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
                                Guardar Cambios
                            </button>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label for="{{ user_form.last_name.id_for_label }}"
                                    class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
                                {{ user_form.last_name|add_class:"py-3 px-4 text-base w-full" }}
                            </div>
                            <div>
                                <label class="block text-gray-700 text-sm font-bold mb-2">Cargo</label>
                                <input type="text"
                                    value="{{ user.profile.position_FK.user_position }}"
                                    class="py-3 px-4 text-base w-full bg-gray-100"
                                    disabled>
                            </div>
                            <div class="">
                                <label for="{{ profile_form.phone.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
                                {{ profile_form.phone|add_class:"py-3 px-4 text-base w-full" }}
                                {{ profile_form.phone.errors }}
                            </div>
                            <div class="">
                                <label for="{{ profile_form.current_branch.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Sucursal</label>
                                {{ profile_form.current_branch|add_class:"py-3 px-4 text-base w-full" }}
                            </div>
                            <div class="">
                                <label for="{{ profile_form.gender.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Sexo</label>
                                {{ profile_form.gender|add_class:"py-3 px-4 text-base w-full" }}
                            </div>
                            <div class="">
                                <label for="{{ profile_form.date_of_birth.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Fecha de nacimiento</label>
                                {{ profile_form.date_of_birth|add_class:"py-3 px-4 text-base w-full" }}
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </section>
    </div>


<div id="seguridad" class="tab-content mt-6">
    <h1 class="mt-4 h1-title-forms">Cambiar Contraseña</h1>
        <section class="p-6 border rounded mt-4">
            <form>
                {% if messages %}
                {% for message in messages %}
                {% if "success-password" in message.tags %}
                <div class="rounded-md bg-green-50 p-4 mb-3">
                    <div class="flex">
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-green-800">{{ message }}</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% url 'account_change_password' as action_url %}
                {% element form form=password_form method="post" action=action_url %}
                {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {{ password_form|crispy }}
                {% endslot %}
                {% slot actions %}
                {% include "components/btn/button.html" with button_text="Cambiar Contraseña" button_name="change_password"%}
                {% endslot %}
                {% endelement %}
                {% include 'components/mensajes.html' %}
            </form>
        </section>
</div>
</div>
{% endblock content_pages %}

{% block javascript %}
<script defer src="{% static 'js/tabs.js' %}"></script>
<script defer src="{% static 'js/script.js' %}"></script>
{% endblock javascript %}