{% extends "components/Layout/base_pages.html" %}
{% load static %} 
{% load tailwind_filters %}

{% block head_title %}
  Edidar Perfil
{% endblock head_title %}

{% block content_pages %}

 <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Editar Perfil</h1>
  <h2 class="h1-title-forms">Información Personal</h2>
  <section class="p-6 border rounded mt-4">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="flex gap-6">
        <div>
          {% include 'components/input_perfil.html' with img=request.user.profile.image.url %}
        </div>
        <div class="flex-1">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label for="{{ user_form.first_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
              {{ user_form.first_name }}
            </div>
            <div>
              <label for="{{ user_form.last_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
              {{ user_form.last_name }}
            </div>
            <div>
              <label for="{{ user_form.username.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
              {{ user_form.username }}
            </div>
            <div>
              <label for="{{ profile_form.position_FK.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Cargo</label>
              {{ profile_form.position_FK }}
            </div>
          </div>
          <div class="mt-4">
            <label for="{{ user_form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            {{ user_form.email }}
          </div>
        </div>
      </div>
      <div class="mt-6">
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">Guardar Cambios</button>
      </div>

      {% if messages %}
        {% for message in messages %}
          {% if "error" in message.tags %}
            <strong>{{ message }}</strong>
          {% endif %}
        {% endfor %}
      {% endif %}
    </form>
  </section>

  {% include 'components/mensajes.html' %}

{% endblock content_pages %}

{% block javascript %}

  <script defer src="{% static "js/script.js" %}"></script>

{% endblock javascript %}
