button{
  padding: 10px;
}
.notifications{
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 99;
}
.toast{
  position: relative;
  padding: 10px;
  color: #1f2937;
  margin-bottom: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  --color: #0abf30;
  background-color: #f9fafb;
  background-image:
    linear-gradient(
        to right, #0abf301f, #e5e7eb 35%, #f9fafb 100%
    );
  animation: show 0.3s ease 1 forwards
}
.toast .close,.icon{
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  cursor: pointer;
}
.toast .title{
  font-size: x-large;
  font-weight: bold;
}
.toast span, .toast i:nth-child(3){
  color: #111827;
  opacity: 0.7;
}
@keyframes show{
  0%{
      transform: translateX(100%);
  }
  40%{
      transform: translateX(-5%);
  }
  80%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-10%);
  }
}
.toast::before{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 3px;
  content: '';
  box-shadow: 0 0 10px var(--color);
  animation: timeOut 5s linear 1 forwards
}
@keyframes timeOut{
  to{
      width: 0;
  }
}
.toast.error{
  --color: #f24d4c;
  background-image:
    linear-gradient(
        to right, #f24d4c1f, #fde2e1 35%, #fff7f6 100%
    );
}
.toast.warning{
  --color: #e9bd0c;
  background-image:
    linear-gradient(
        to right, #e9bd0c1f, #f8f3e0 35%, #fffbf2 100%
    );
}
.toast.info{
  --color: #3498db;
  background-image:
    linear-gradient(
        to right, #3498db1f, #e0e7ff 35%, #f5f7ff 100%
    );
}
@media (max-width: 450px) {
  .notifications{
    right: -5px;
  }
  .toast {
    width: 370px; 
  }
}