{% extends "components/Layout/base_pages.html" %}
{% load static %} 
{% load tailwind_filters %}

{% block head_title %}
  Registrar Usuario
{% endblock head_title %}

{% block content_pages %}

  <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Registrar Usuario</h1>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'components/input_perfil.html' with img="/static/img/profile.webp" %}
      
      <label for="id_position_FK" class="block text-gray-700 text-sm font-bold mb-2">
        Cargo
      </label>
      {{ profile_form.position_FK }}
            <label for="id_phone" class="block text-gray-700 text-sm font-bold mb-2">
        Teléfono
      </label>
      {{ profile_form.phone }}
      {{ profile_form.phone.errors }}
      <label for="id_gender" class="block text-gray-700 text-sm font-bold mb-2">
        Sexo
      </label>
      {{ profile_form.gender }}
      <label for="id_date_of_birth" class="block text-gray-700 text-sm font-bold mb-2">
        Fecha de nacimiento
      </label>
      {{ profile_form.date_of_birth }}
      <label for="id_salario" class="block text-gray-700 text-sm font-bold mb-2">
        Salario
      </label>
      {{ profile_form.salario }}
      <label for="id_is_partime" class="block text-gray-700 text-sm font-bold mb-2">
        Tipo de jornada
      </label>
      {{ profile_form.is_partime }}
      <label for="{{ profile_form.examen_medico.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
        Examen Médico
      </label>
      {{ profile_form.examen_medico }}
      <label for="{{ profile_form.contrato.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 mt-4">
        Contrato
      </label>
      {{ profile_form.contrato }}
      {{ user_form|crispy }}

      {% include "components/btn/button.html" with button_text="Guardar cambios" %}
      
  </form>

  {% include 'components/mensajes.html' %}  

{% endblock content_pages %}    

{% block javascript %}

  <script defer src="{% static "js/script.js" %}"></script>

{% endblock javascript %}